@page "/upload"
@rendermode InteractiveServer

<PageTitle>Blazor Server File Upload</PageTitle>

<h1>Blazor Server File Upload</h1>

<div style="margin-bottom: 20px; display: flex;">
    <div>Select your file:</div>
    <InputFile OnChange="FileUploaded" />
</div>

<h2>Selected file</h2>
<div>
    <div>File name: @FileName</div>
</div>
@foreach (var row in readerEvents) {
	<p>@row.ToString();</p>
}
@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div>Error: @ErrorMessage</div>
}

@code {
    public string FileName { get; set; } = "";
    public string ErrorMessage { get; set; } = "";
    private List<ReaderEvent> readerEvents = new List<ReaderEvent>();

    public async Task FileUploaded(InputFileChangeEventArgs e)
    {
        var browserFile = e.File;

        if (browserFile != null)
        {
            FileName = browserFile.Name;

            try
            {
                await using var stream = browserFile.OpenReadStream(1200542);
		using var sr = new StreamReader(stream);

		readerEvents = new List<ReaderEvent>();

		await sr.ReadLineAsync();

		string line;
		while((line = await sr.ReadLineAsync()) != null) {
			string[] values = line.Split(',');
			if (values.Length >= 5)
			{
                            readerEvents.Add(new ReaderEvent(
                                values[0],
                                values[1],
                                values[2],
                                Convert.ToInt32(values[3].Trim('\"')),
                                Convert.ToInt32(values[4].Trim('\"'))
				));
                        }
		}
		Console.WriteLine(readerEvents.Count());
            }
            catch (Exception exception)
            {
                ErrorMessage = exception.Message;
            }
        }
    }



    public class ReaderEvent {
	    public string EventTimeUTC { get; set; }
	    public string ReaderDesc { get; set; }
	    public string IdHash { get; set; }
	    public int DevId { get; set; }
	    public int Machine { get; set; }

	    public ReaderEvent(string eventTimeUTC, string readerDesc, string idHash, int devId, int machine)
	    {
		EventTimeUTC = eventTimeUTC;
		ReaderDesc = readerDesc;
		IdHash = idHash;
		DevId = devId;
		Machine = machine;
	    }
	    public override string ToString()
		{
		    return $"EventTimeUTC: {EventTimeUTC}, ReaderDesc: {ReaderDesc}, IdHash: {IdHash}, DevId: {DevId}, Machine: {Machine}";
		}

    }
}
